<div class="container-fluid-1">
<section class="workshop">
    <div class="container">
        <h1 class="workshop-heading">Workshop</h1>
        <div class="workshop-details" data-aos="zoom-out-left">
            <p>Attended workshop on Andriod Application Development at SKNCOE Sinhgad Institute, Pune.<br>
                Technology: Andriod Studio, xml , java
            </p>
        </div>
    </div>
</section>
<h1 class="work-heading">Work <span>Experience</span></h1>
    <section class="work" data-aos="zoom-in" data-aos-offset="10" data-aos-duration="1000">
        <div class="container">
            <div class="timelined-centered">
                <article class="timeline-entry animate-box"> 
                    <div class="timeline-entry-inner">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="timeline-icon">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="timeline-label">
                                    <h2>Software Engineer <span>Sep, 2019</span></h2>
                                    <h4>Talent Recruit Software Pvt Ltd</h4>
                                    <ul class="work-lists" *ngFor="let worklist of worklists">
                                        <li>{{worklist}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>          
                    </div>
                </article>
            </div>
        </div>
    </section>
<section class="skills">
    <div class="container items-center">
        <h1 class="skills-heading">Skills <span>Set</span></h1>
        <div  data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="row ml-5">
                    <div class="col-md-6" data-aos="fade-right">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">HTML 5</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                style="width: 85%;" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000"
                                role="progressbar" arial-valuenow="30" arial-valuemin="0" arial-valuemax="100">
                                </div>
                                <span class="progress-value">85%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">CSS 3</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                style="width: 80%;" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000"
                                role="progressbar" arial-valuenow="60" arial-valuemin="0" arial-valuemax="100">
                                </div>
                                    <span class="progress-value">80%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ml-5">
                    <div class="col-md-6" data-aos="fade-left">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Bootstrap 4</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                style="width: 80%;" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000"
                                role="progressbar" arial-valuenow="60" arial-valuemin="0" arial-valuemax="100">
                                </div>
                                    <span class="progress-value">80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Javascript</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                style="width: 70%;" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000"
                                role="progressbar" arial-valuenow="60" arial-valuemin="0" arial-valuemax="100">
                                </div>
                                    <span class="progress-value">70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ml-5">
                    <div class="col-md-6" data-aos="fade-left">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Jquery</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                style="width: 80%;" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000"
                                role="progressbar" arial-valuenow="60" arial-valuemin="0" arial-valuemax="100">
                                </div>
                                    <span class="progress-value">80%</span>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-left">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Angular 9</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                style="width: 75%;" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000"
                                role="progressbar" arial-valuenow="60" arial-valuemin="0" arial-valuemax="100">
                                </div>
                                    <span class="progress-value">75%</span>                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ml-5">
                    <div class="col-md-6" data-aos="fade-right">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">SQL</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                style="width: 70%;" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000"
                                role="progressbar" arial-valuenow="60" arial-valuemin="0" arial-valuemax="100">
                                </div>
                                    <span class="progress-value">70%</span>                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-right">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">Sass</span>
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                style="width: 70%;" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000"
                                role="progressbar" arial-valuenow="60" arial-valuemin="0" arial-valuemax="100">
                                </div>
                                    <span class="progress-value">70%</span>                            
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<section class="projects">
    <div class="container">
        <h1 class="project-heading">Academic <span>Projects</span></h1>
        <div class="projects-details">
            <div class="row">
                <div class="col-md-3">
                    <h4 data-aos="fade-right">Online Saloon Booking System (C-DAC Project)</h4>
                </div>
                <div class="col-md-8">
                    <article data-aos="fade-left">
                        This Project deals with developing a website for online saloon management. it provides
                        platform for the users with a number of different salon option to book appointment and desired
                        services this is implemented using a 3 tier approach with back end as MySql database, Technology using 
                        Java, Servlet, Hibernet and server as Apache Tomcat.  
                    </article>        
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4 data-aos="fade-right">Academic Web Portal (BE Project)</h4>
                </div>
                <div class="col-md-8">
                    <article data-aos="fade-left">
                        A webportal which provides a platform for students and teachers to communicate and share documents.
                        This web Application  is developed using Java ORM framework like Hibernate and database as MySql. 
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4 data-aos="fade-right">Personal Portfolio (Self Project)</h4>
                </div>
                <div class="col-md-8">
                    <article data-aos="fade-left">   
                        Developed Personal Portfolio using Technologies Angular 9, Bootstrap 4, HTML 5.
                    </article>
                </div>    
            </div>
        </div>
    </div>
</section>
<section class="certifications">
    <div class="container">
        <h1 class="certificate-heading">Certificate</h1>
        <div class="card-0">
            <div class="card-body ml-5">
                <div class="certificate-list" data-aos="flip-up">
                    <ul>
                        <h5>Angular Certificate</h5>
                        <li>Certificate Url- <span>ude.my/UC-401bc585-1748-4ce1-b61f-4d17f07c1679</span></li>
                        <li>Certificate No- <span>UC-401bc585-1748-4ce1-b61f-4d17f07c1679</span></li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</section>
</div>